header {
  width: 100%;
  background-color: #222;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Headerin {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 728px) {
  header {
    height: 100px;
  }

  .Headerin {
    width: calc(100% - 60px);
    margin: auto;
    max-width: 900px;    
    justify-content:flex-start;
  }
}

