header {
  width: 100%;
  background-color: #222;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width:728px) {
  header {
    height: 100px;
  }
}

.Name {
  color: #f0f0f0;
  text-align: center;
  
  
  display: block;
  text-align: center;
  font-size: 32px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 400;
}

.Title {
  color: #f0f0f0;

}
