header {
  width: 100%;
  background-color: #000;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #333;
  position: fixed;
  left:0px;
  top: 0px;
  z-index: 100000;
}

.Headerin {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 728px) {
  header {
    height: 100px;
  }

  

  .Headerin {
    width: calc(100% - 60px);
    margin: auto;
    max-width: 960px;    
    justify-content:flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 150px;
  }

  .Headerin {
    width: calc(100% - 60px);       
    justify-content:flex-start;
    height: 105px;
  }
}
