.st-con{
  margin: 0 0 30px 0;
}


.edu-div .edu-div-row{
  display: flex;
  flex-wrap: wrap;
}

.edu-div-row strong {
  width: 100px;
  font-size: 18px;
  font-weight: 700;
}

.edu-div-row span {
  display: block;
  width: 10px;
  text-align: left;
}

.prj-div-row {
  color: #aaa;
  font-size: 18px;

}




@media only screen and (min-width: 600px) {
  .edu-div-row p {
    width: calc( 100% - 110px );
   }

}


.edu-div-row p,.job-div-row p {
  color: #aaa;
}

.gen-head {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px 0;display: block;
}

.job-div-row strong {
  font-weight: 700;
}

.job-div-row {
  margin: 0 0 10px 0;
}

.prj-div-row {
  margin: 0 0 5px 0;
}

@media only screen and (min-width: 1024px) {
  .job-div {
    width: calc(50% - 15px);
    margin:0 30px 30px 0 ;
    float: left;
  }

  .prj-div {
    width: calc(50% - 15px);
    float: left;

  }

}
