.Image-Thumbs {
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
  .Image-Thumbs {
    width: 460px;
    margin-right: 30px;
    float: left;
    margin-top: 0px;
  }
}

.Image-Thumbs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Image-Thumbs ul li {
  margin: 0 0px 0px 0;
  width: 100px;
  box-sizing: border-box;
  width: 19%;
  margin: 0 1.25% 1.25% 0;
  
  
}

.Image-Thumbs ul li:hover, .Image-Thumbs ul li.thumb-active {
  cursor: pointer;
  border: 5px solid #fff;
  transition: all 0.1s ease-in;
  overflow: hidden;
}

.Image-Thumbs ul li:hover img, .Image-Thumbs ul li.thumb-active img {
  
  filter: saturate(2);
}

@media only screen and (max-width: 768px) {
  .Image-Thumbs ul li:nth-child(5n) {
    margin: 0 0 1.25% 0px;
  }

  
}

@media only screen and (min-width: 1024px) {
  .Image-Thumbs ul {
    display: flex;
    flex-wrap: wrap;
  }

  .Image-Thumbs ul li {
    margin: 0 20px 20px 0;
    width: 100px;
  }

  .Image-Thumbs ul li:nth-child(4n) {
    margin: 0 0 20px 0px;
  }
}

.Image-Thumbs ul li img {
  width: 100%;
  display: block;
  filter: saturate(0);
  transition: all 0.4s ease-out;
}
