

@media only screen and (min-width: 1024px) {

  .Image-Thumbs {
    width:460px;
    margin-right: 30px;
    float: left;
  }


}

.Image-Thumbs ul {
  display: flex;
  flex-wrap: wrap;
  

}

.Image-Thumbs ul li{
  margin: 0 20px 20px 0;
}

.Image-Thumbs ul li:nth-child(3n) {
  margin:0 0 0 0px;
 
}