.NavLink {
  font-size: 28px;
  display: block;
}

@media only screen and (min-width: 1024px) {
  .NavLink {
    font-size: 28px;
    display: inline-block;
    line-height: 28px;
  }

}

.NavLink a {
  padding: 15px 20px;
  display: block;
  text-align: center;
  color: #bbb;
  transition: color .3s ease-out;
}

@media only screen and (min-width: 1024px) {
  .NavLink a:hover,.NavLink a.NavLink--active {
    color:#fff;
    

  }

}

.NavLink:not(:last-child) a {
  border-bottom: 1px solid #333;
}

@media only screen and (min-width: 1024px) {
  .NavLink:not(:last-child) a{
    border-bottom: none;

  }
}

