nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}



.Menu {
  width: 100%;
  height: 100vh;

  opacity:0;

  position: fixed;
  left: -100vw;
  top:0;
  transition: all 0.3s ease-out;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .Menu {
    width:auto;
    height:auto;
    left: auto;
    top:45px;
    right: 0;
    background:none;
    position: absolute;
    transition: opacity 0.3 ease-in;
    opacity:1;

  }
  
}

.Menu-Button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f0f0f0;
  z-index: 10000;
}

@media only screen and (min-width: 1024px) {
  .Menu-Button {display: none;}
}

.menu-button {
  display: none;
}

.Menu-Button span {
  display: block;
  width: 24px;
  height: 3px;
  margin: 23px 13px;
  position: relative;
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 1);
}

.Menu-Button span:after,
.Menu-Button span:before {
  content: '';
  display: block;
  width: 24px;
  border-top: 3px solid #fff;
  position: absolute;
  transition: all 0.2s ease-out;
}

.Menu-Button span:after {
  top: 8px;
  left: 0px;
}
.Menu-Button span:before {
  bottom: 8px;
  left: 0px;
}

.menu-button:checked ~ .Menu {
  left: 0;
  opacity:1;
}

@media only screen and (min-width: 1024px) {
  .menu-button:checked ~ .Menu {
    left: auto;
    opacity:1;
  }
  
}

.menu-button:checked ~ .Menu-Button span {
  background-color: rgba(255, 255, 255, 0);
}

.menu-button:checked ~ .Menu-Button span:after {
  transform-origin: center;
  transform: translateY(-8px) rotateZ(45deg);
}

.menu-button:checked ~ .Menu-Button span:before {
  transform-origin: center;
  transform: translateY(8px) rotateZ(-45deg);
}
