nav {
  
  
  z-index: 1000;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.Menu {
  width:100%;
  height: 100vh;
  
  position: fixed;
  top:100vh;
  left: 0;  
  transition: all .3s ease-out;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu-Button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f0f0f0;
  z-index: 10000;
}

.menu-button{
  display: none;
}

.Menu-Button span {
  display: block;
  width:24px;
  border-top: 3px solid;
  margin:23px 13px;
  position: relative;

}

.Menu-Button span:after,.Menu-Button span:before {
  content: "";
  display: block;
  width:24px;
  border-top: 3px solid;
  position: absolute;

  
}

.Menu-Button span:after{top:5px;left: 0px;}
.Menu-Button span:before{bottom:8px;left: 0px;}


.menu-button:checked ~ .Menu {
  
  top:0;
  
    
}