/* Route transitions*/
.page {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
}

@media only screen and (min-width: 728px) {
  .page {
    top: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .page {
    top: 150px;
  }
}

.page-enter {
  opacity: 0;
  padding-top: 10px;
 
}

.page-enter-active {
  opacity: 1;
  padding-top: 0px;
  
  transition: all 300ms;
}

.page-exit {
  opacity: 1;
  padding-top: 0px;
  
}

.page-exit-active {
  opacity: 0;
  padding-top: 10px;
  
  transition: all 300ms;
}

.content-container{
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}
